
.noticias {
    padding-top: 20px;
    background-color: #000;
    color: white;
    padding-bottom: 40px;
    left: 0;
    padding-bottom: 40px;
}
.tituloNoticia {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-left: 100px;
}
.tituloNoticiah2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding-left: 100px;
    opacity:0.5;
}
.recuadro1{
    
    background-color: #2b2b2b;
    width: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;

}
.recuadro1:hover{
    background-color: rgba(138, 138, 138, 0.201);
    /* Cambia el color al pasar el mouse */
    transform: scale(1.1);
}
.pad{
    padding-left: 100px;
    
}
.tituloNoticia1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

}
.tituloNoticia3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding-left: 70px;
}
.contenido1{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}